<section class="hero{% if page.hero.compact %} hero--compact{% endif %}">
  <div class="wrap">
    {%- if page.hero.tagline %}
    <div class="hero-tagline">
      {%- for item in page.hero.tagline %}
      <div class="hero-tagline-badge">{{ item }}</div>
      {%- endfor %}
    </div>
    {%- endif %}
    {%- if page.hero.eyebrow %}
    <div class="eyebrow">{{ page.hero.eyebrow }}</div>
    {%- endif %}
    {%- if page.hero.subtitle and page.hero.subtitle_first %}
    <div class="hero-subtitle">{{ page.hero.subtitle }}</div>
    {%- endif %}
    <h1>{{ page.hero.title }}</h1>
    {%- if page.hero.subtitle and not page.hero.subtitle_first %}
    <div class="hero-subtitle">{{ page.hero.subtitle }}</div>
    {%- endif %}
    {%- for para in page.hero.description %}
    <p>{{ para }}</p>
    {%- endfor %}
    {%- if page.hero.badges %}
    <div class="badges">
      {%- for badge in page.hero.badges %}
      <span class="badge">{{ badge }}</span>
      {%- endfor %}
    </div>
    {%- endif %}
    {%- if page.hero.status %}
    <div class="hero-catalog-status">
      <span class="hero-status-badge{% if page.hero.status|lower in ['approved', 'published'] %} approved{% endif %}"><span>Catalog status:</span> {{ page.hero.status }}</span>
      {% include "partials/status-legend.html" %}
    </div>
    {%- endif %}
  </div>
</section>
